<ul>
    <li>
        <a href="#" class="card">
            <div class="card-body">
                <div class="row-single">
                    <div class="name">aaaaaa</div>
                </div>
                <div class="row-single">
                    <div class="reg"><span>Reg</span>aaaaaaaaa</div>
                    <div class="status full">
                        aaaa
                    </div>
                </div>
                <div class="row-single">
                    <div class="half"><span>A1</span>54555</div>
                    <div class="half"><span>A2</span>54555</div>
                </div>
                <div class="row-single">
                    <div class="bonus"><span>Bonus</span>54555</div>
                </div>
            </div>
        </a>
        <ul>
            <li>
                <a href="#" class="card">
                    <div class="card-body">
                        <div class="row-single">
                            <div class="name">a1111</div>
                        </div>
                        <div class="row-single">
                            <div class="reg"><span>Reg</span>a111</div>
                            <div class="status full">a111</div>
                        </div>
                        <div class="row-single">
                            <div class="half"><span>A1</span>54555</div>
                            <div class="half"><span>A2</span>54555</div>
                        </div>
                        <div class="row-single">
                            <div class="bonus"><span>Bonus</span>54555</div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="card">
                    <div class="card-body">
                        <div class="row-single">
                            <div class="name">a222</div>
                        </div>
                        <div class="row-single">
                            <div class="reg"><span>Reg</span>a222</div>
                            <div class="status full">a222</div>
                        </div>
                        <div class="row-single">
                            <div class="half"><span>A1</span>54555</div>
                            <div class="half"><span>A2</span>54555</div>
                        </div>
                        <div class="row-single">
                            <div class="bonus"><span>Bonus</span>54555</div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </li>
</ul>
